<!-- <html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inputed Data</title>
</head>


<body bgcolor="gainsboro">

<h1 style="color: black;">Suggested Restaurant or Place</h1>

<div class="den">
	{% for den in den %}

<h4 style="border: 5px solid grey">
	<p>Name: {{ den.Name }}</p>
	<p>Name of Suggested Restaurant or Site: {{ den.Name1 }}</p>
	<p>Address of Suggested Restaurant or Site: {{ den.Address }}</p>
	<p>Date: {{ den.Date }}</p>
</h4>

</div>
	{% endfor %}
</body>
</html> -->
<html>
<style>
table, td, th {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
<body style="background-color:#FFDEAD;">
<center><h1>Restaurant Dine-In Booking</h1></center>
<table style="width:100%">
  <tr>
  
    <th>Name: </th>
    <th>Restaurant:</th>
    <th>Address: </th>
    <th>Date:</th>
    <th>Time:</th>
    </tr>
<div class="den">
	{% for den in den %}
	<div class="den">

    <tr>
    <td>{{ forloop.counter }}:{{ den.Name }}</td>
    <td>{{ den.Name1 }}</td>
    <td>{{ den.Address }}</td>
    <td>{{ den.Date }}</td>
    <td>{{ den.Time }}</td>
 	</tr>


</div>
	{% endfor %}
	</table>
</body>
</html>