<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Add Place</title>
        <style>
            p {
                font-weight: bold;
            }

            h5 {
                font-weight: bold;
            }

        </style>
    </head>

    	<div class="heading">
    		<h1>Add Place</h1>
    	</div>

    	<div class="form">
    		<form action="#" method="post">
    			<p id=in1>Name</p>
    			<input type="text" id=Name name="Name" placeholder="Name">

    			<p id=in2>Name of Suggested Restaurant or Site</h4><br>
    			<input type="text" id=Name1 name="Name1" placeholder="Name of Suggeted Restaurant or Site">

    			<p id=in3>Address of Suggested Restaurant or Site</p> 
    			<input type="text" id=Address name="Address" placeholder="Address of Suggested Restaurant or Site">

    			<br><br><br><br>
    		<div class="submit">
    			<input type="submit" name="submitbutton" value="Submit">
    		</div>

    		</form>


 </html>