<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Add Place</title>
        <link rel="stylesheet" href="css3.css">
    </head>

    	<div class="heading">
    		<h1>Add Place</h1>
    	</div>

    	<div class="form">
    		<form action="#" method="post">
    			<p>Name</p>
    			<input type="text" name="name" placeholder="Name">
    			<p>Name of Restaurant</p>
    			<input type="text" name="name of restaurant" placeholder="Name of Restaurant">
    			<p>Address of Restaurant</p>
    			<input type="text" name="address of restaurant" placeholder="Address of Restaurant">
    			<br><br><br><br>
    		<div class="submit">
    			<input type="submit" name="submitbutton" value="Submit">
    		</div>

    		</form>


 </html>